.headphoto {
	background: url(../img/top.jpg) center;
}

.bg-head {
	background-color: #0000007d;
	padding: 1rem;
	border-radius: 0.5rem;
}

.header-with-icon {
	display: flex;
	align-items: center;
}
.anketa {
	width: 100%;
	height: 700px;
}
